.container{
    height: 500px;
    width: 500px;
    background-color: green;
    border: 3px solid red;
    display: flex;

}

.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid black;
    background-color: aqua;
   
    /* transition: 2s; */
    /* transition-property:all; */
    /* transition-delay: 5s; */

    /* transition: background-color 5s ease 3s;

    transition: transform 5s ease 1s; */

    /* transition:transform 3s ease-in; */
    /* transition: transform 3s ease-out; */
    transition: transform 3s cubic-bezier(1, 0.11, 0.05, 0.83) 1s;
}

.box:hover{
    background-color: brown; 
    /* transform: rotate(45deg); */ 

    transform: scale(2) translateX(500px) rotate(360deg);
}