h1{
    text-shadow: 1px 3px 3px red;
    text-shadow: 1px 3px 3px red,5px 5px  5px green;
}

.box{
    
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px  15px green ,15px 15px 15px brown;
    color: blue;
    /* box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5); */
}